<div class="container" ng-controller="HomeController">
    <div class="Login-container">
        <div class="col-md-8">
            <div class="login-left-section">
                <div class="login-mviewer-text">
                  <span><span style="color:#fff">m</span>Viewer</span>
                  <div class="beta-version">BETA VERSION</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="login-right-section">
                <form class="form">
                    <input type="text" ng-model='host' id='host' placeholder="Host" value="127.0.0.1">
                    <input type="text" ng-model='port' id="port" placeholder="Port" value="27017">
                    <input type="text"  ng-model='userName' id="username" placeholder="Username">
                    <input type="password"  ng-model='password' id="password" placeholder="Password">
                    <input type='text' id='databases' ng-model='databases' name='databases' placeholder='optional'
                           title="Enter comma-separated values."/>
                    <button type="button" class="btn btn-primary" id='login' ng-click="connectToMongo()">CONNECT</button>
                </form>
                <div class="forgot-pswd"><a href="#">Forgot Your Password?</a></div>
                <div class="dot-img"><img src="/client/img/dot-img.png"></div>
                <div class="need-help"><a href="#">Need Help? </a></div>
                <div class="notify" id="errorMsg"></div>
                <div id="spinner"></div>
                <label id="loginMsg" class="loginMsg">Loading...</label>
            </div>
        </div>
    </div>
</div>
</div>
