<div class="header">
    <div class="col-md-9">
        <div class="navigation float">
            <ul   class="logo">
                <li>
                    <img src="images/viewer.png">
                    <img src="images/betaversion.png" class="beta">
                </li>
            </ul>

        </div>
        <div class="nav-sub float">
            <ul>
                <li class="top-line"><img src="images/top-line.png"></li>
                <li class="nav-bar">
                    <a href="#"><img src="images/mangograph-1.png"><span class="nav-text">Mango Graph</span></a>
                </li>
                <li class="top-line"><img src="images/top-line.png"></li>

                <li class="nav-bar">
                    <a href="#"><img src="images/serverstatictis.png"><span class="nav-text">Server Statistics</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-wrapper-search">
            <div class="search-icon"><img src="images/searchicon.png"></div>
            <div class="search-inputs">
                <input class="search" placeholder="Search">
            </div>
            <div class="logout">
                <img src="images/logout.png">
            </div>
        </div>


    </div>
</div>
<div class="main-content cols">

    <div class="col-md-1">
        <div class="left-content" >
            <a href="#"><div class="left-content-box">
                <div><img src="images/db.png"></div>
                <div>DATABASE</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/collection.png"></div>
                <div>COLLECTION</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/grids.png"></div>
                <div>GRIDS</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/help.png"></div>
                <div>HELP</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div>	<img src="images/console.png"></div>
                <div>CONSOLE</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/setting.png"></div>
                <div>SETTINGS</div>
            </div></a>
        </div>

    </div>
    <div class="col-md-11">
        <div class="right-content">
            <div class="right-content-box">
                <div class="right-content-box-header">
                    <div class="welcome-text"> Welcome To <span style="color:#fff">m</span><span class="viewer-text">Viewer</span></div>
                    <hr>
                    <div class="mongdb">A MONGODB MANAGEMENT TOOL</div>
                    <hr>
                    <div class="started-text">LET'S GET STARTED</div>
                </div>

                <div class="right-content-footer">
                    <div class="btn-create-db" data-toggle="modal" data-target="#myModal"><input type="button" class="create-db-button" value="Create New Database"></div>
                    <div class="plogo">
                        <img src="images/pramatiideas.png">
                        <div class="Powered-by">POWERED BY</div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="new-db">
    <span class="db-text">Please enter DB Name</span>
    <form class="db-form">
        <input class="db-name-textfield" placeholder="Enter DB Name">
        <button type="button" class="btn btn-primary">SUBMIT</button>
        <button type="button" class="btn btn-primary">CANCEL</button>
    </form>

</div>
