<div class="header">
    <div class="col-md-9">
        <div class="navigation float">
            <ul class="logo">
                <li>
                    <img src="images/viewer.png">
                    <img src="images/betaversion.png" class="beta">
                </li>
            </ul>
        </div>
        <div class="nav-sub float">
            <ul>
                <li class="top-line"><img src="images/top-line.png"></li>
                <li class="nav-bar">
                    <a href="#"><img src="images/mangograph-1.png"><span class="nav-text">Mango Graph</span></a>
                </li>
                <li class="top-line"><img src="images/top-line.png"></li>
                <li class="nav-bar">
                    <a href="#"><img src="images/serverstatictis.png"><span class="nav-text">Server Statistics</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="search-icon"><img src="images/searchicon.png"></div>
        <div>
            <input class="search" placeholder="Search">
        </div>
        <div class="logout">
            <img src="images/logout.png">
        </div>
    </div>
</div>
<div class="main-content cols">
    <div class="col-md-1">
        <div class="left-content">
            <a href="#"><div class="left-content-box">
                <div><img src="images/db.png"></div>
                <div>DATABASE</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/collection.png"></div>
                <div>COLLECTION</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/grids.png"></div>
                <div>GRIDS</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/help.png"></div>
                <div>HELP</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div>	<img src="images/console.png"></div>
                <div>CONSOLE</div>
            </div></a>
            <a href="#"><div class="left-content-box">
                <div><img src="images/setting.png"></div>
                <div>SETTINGS</div>
            </div></a>
        </div>
    </div>
    <div class="col-md-11">
        <div class="panel server">

            <div class="panel-header">
                <div class="col-xs-5">
                    <div class="panel-header">
                        <div class="panel-header-text">
                            <img src="images/serverstatictis.png">
                            <span class="server-stat">Server statistics</span>
                        </div>
                        <div class="search-bar-secondary">
                            <div class="search-icon-1"><img src="images/searchicon.png"></div>
                            <input class="panel-header-search" placeholder="Search Key or Value">
                        </div>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="panel-header-right-content">
                        <a href="#"><img src="images/rightsideicon.png"></a>
                        <input class="panel-header-right-search" placeholder="19 jul 1947">
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">

                        <div class="block">
                            <div class="block-content">
                                <h4>server used</h4>
                                <h3>127.0.0.1:270</h3>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <h4>server used</h4>
                                <h3>127.0.0.1:270</h3>
                            </div>
                        </div>

                        <div class="block2">
                            <div class="block2-header">
                                <h4>Local time</h4>
                            </div>
                            <div class="block2-body">
                                <div class="block2-body-label">
                                    <span>date</span>
                                    <span class="block2-body-value">2015-07-21 T05:10:25.023z</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>connections</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>Current</span>
                                    <span class="block2-body-value">48</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>Available</span>
                                    <span class="block2-body-value">51125</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>TotalCreated</span>
                                    <span class="block2-body-value">51</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>extra_info</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>note</span>
                                    <span class="block2-body-value">field vary by platform</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>heap_usage_byte</span>
                                    <span class="block2-body-value">137</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>page_faults</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>Globallock</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>totaltime</span>
                                    <span class="block2-body-value">85475512548</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>currentqueue</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>total</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>reader</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>writers</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>activelist</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>total</span>
                                    <span class="block2-body-value">254</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>readers</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>writers</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>metrics</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>command</span>
                                    <span class="block2-body-value">85475512548</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>cursor</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>document</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>getLastErro</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>operation</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>queryExecutor</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>record</span>
                                    <span class="block2-body-value">254</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>reply</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>storage</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>ttl</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-3">
                        <div class="block">
                            <div class="block-content">
                                <h4>server used</h4>
                                <h3>127.0.0.1:270</h3>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <h4>server used</h4>
                                <h3>127.0.0.1:270</h3>
                            </div>
                        </div>


                        <div class="block3">
                            <div class="block2-header">
                                <h4>Xyz</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>Dummy</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>Warning</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>Msg</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>User</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <div>Rollover</div>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>cursors</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>note</span>
                                    <span class="block2-body-value">deprecated use server status</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>clientCursor_size</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>totalOpened</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>pinned</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>totalNoTimeOut</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>timeOut</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>lock</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>global</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>MMAPV1journal</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>database</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>collection</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>metadata</span>
                                </div>
                            </div>

                        </div>
                        <div class="block2">
                            <div class="block2-header">
                                <h4>storageengine</h4>
                            </div>
                            <div class="block2-body">
                                <div class="block2-body-label">
                                    <span>name</span>
                                    <span class="block2-body-value">mmapv1</span>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <h4>writebacksqueued	</h4>
                                <h3>false</h3>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <h4>ok</h4>
                                <h3>1</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="block">
                            <div class="block-content">
                                <h4>Version</h4>
                                <h3>3.0.0</h3>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <h4>uptimemillis</h4>
                                <h3>287752458</h3>
                            </div>
                        </div>
                        <div class="block3">
                            <div class="block2-header">
                                <h4>CheckGroundFlushing</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>Dashes</span>
                                    <span class="block2-body-value">50461</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>total_ms</span>
                                    <span class="block2-body-value">599</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>Average_ms</span>
                                    <span class="block2-body-value">0.0125875584588758</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>last_ms</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>dur</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>cmmmits</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>journledMB</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>writeeDataFileMB</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>compressioin</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>commitsInWriteLock</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>ealryCommits</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>network</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>bytesIn</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>bytesOut</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>numberRequest</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">
                            <div class="block2-header">
                                <h4>opcounterreply</h4>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>insertQuery</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>update</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>delete</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>getMore</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>command</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="block">
                            <div class="block-content">
                                <h4>Process</h4>
                                <h3>Mongod</h3>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <h4>Uptime estimate</h4>
                                <h3>2755854</h3>
                            </div>
                        </div>
                        <div class="block2">
                            <div class="block2-header">
                                <h4>last_finished</h4>
                            </div>
                            <div class="block2-body">
                                <div class="block2-body-label">
                                    <span>date</span>
                                    <span class="block2-body-value">2015-07-21 T05:10:25.023z</span>
                                </div>
                            </div>
                        </div>

                        <div class="block3">

                            <div class="block2-header">
                                <h4>timems</h4>
                            </div><div class="block3-body">
                            <div class="block2-body-label">
                                <span>dt</span>
                                <span class="block2-body-value">3066</span>
                            </div>
                        </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>prepLogBuffer</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>writeToJournal</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>remaPrivateView</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>commits</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                            <div class="block3-body">
                                <div class="block2-body-label">
                                    <span>commitsWriteLock</span>
                                    <span class="block2-body-value">0</span>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
